{
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
},
  "plugins": [
    "react"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-use-before-define": ["error", { "variables": false }]

  }
}
