.skills-iq-graph {
    /* background: #534f4f8c; */
    /* overflow: hidden;
    transition: all .6s ease;
    height: 0px; */
    max-height: 0;
    transition: max-height 0.6s ease-out;
    overflow: hidden;
}
.skills-iq-graph.expanded {
    max-height: 500px;
    transition: max-height 0.6 s ease-in;
}
.skills-iq-graph a {
    color: #b0ceff
}

.skills-icon {
    width: 32px;
    margin-left: 5px;
    margin-right: 5px;
    filter: grayscale(100%);
}

.skills-icon.active {
    filter: grayscale(0%);
}