nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 20px auto;
}

nav a.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    border-bottom: 2px solid rgba(25, 25, 25, 0.25);
}

@media screen and (min-width: 600px) {
    nav {
        width: 500px;
    }
}